<header class="navbar">
  <div class="container">
    <div class="logo">
    <nav class="nav-links">
      <ul>
        <li ><a (click)="irMenu()" style="color: white;font-size: 25px;">FramaFood</a></li>
      </ul>
    </nav>  
    </div>
    <nav class="nav-links">
      <ul>
        <li><a (click)="irASobreNosotros()">Sobre nosotros</a></li>
        <li><a (click)="irContactos()">Contactos</a></li>
        <li></li>
        <li><a routerLink="/login"><i class="fas fa-user"></i></a></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>

<main class="hero-section">
  <div class="hero-content">
    <div class="welcome-box">
      <h2 style="color: white;">Bienvenidos</h2>
      <p style="color: white;">En FramaFood creemos que la buena comida es un arte. Venga y déjese llevar por una
        sinfonía de sabores.</p>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <p>Lun - Vie 11am - 10pm</p>
      <p>Sab - Dom 11am - 9pm</p>
    </div>
    <div class="footer-center">
      <p>Residencial Claridel</p>
      <p>Autopista san isidro #3</p>
    </div>
    <div class="footer-right">
      <p>Siguenos</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2025 por FramaFood.</p>
  </div>
</footer>
