<header class="navbar">
  <div class="container">
    <div class="logo">
      <ul style="color: white;font-size: 25px;">
        FramaFood
      </ul>
    </div>
    <nav class="nav-links">
      <div *ngIf="Rol === 'MESERA'" class="MenuIzquierda">
        <div class="button_slide slide_down" style="color: white;font-size: 15px;">
          <ul style="color: white;font-size: 15px;">
            <a style="cursor: pointer;" routerLink="/Pedidos/chef" (click)="irPedidoMeseraChef()">Pedidos Realizados</a>
          </ul>
        </div>
      </div>      
      <ul *ngIf="userName">
        <li></li>
        <li style="color: white;font-size: 18px;"> {{ fecha | date:'shortDate' }} | {{ userName }}!</li><!--Mabel Cabrera-->
        <li style="color: white;font-size: 18px;"><a class="fas fa-sign-out-alt cursor" title="Cerrar sesión" (click)="logout()" routerLink="/login"></a></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>