.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../Fotos/your-image.jpg');
  background-size: cover;
  background-position: center;
}

.login-box {
  /*background: #030303;*/
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  color: #ccc;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-box label {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.login-box input {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-box button {
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #0056b3;
}

.hero-section {
    background-image: url('../../../Fotos/your-image.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Vertically center content */
    padding-top: 60px; /* Adjust for fixed navbar height */
    position: relative;
}
