<main class="hero-section">
  <div class="hero-content">
    <div class="welcome-box">
      <h2 style="color: white;">Sobre Nosotros</h2>
      <p style="color: white;">FramaFood nació de una visión: elevar la comida a la categoría de arte comestible. Desde el primer día, nos hemos comprometido a ofrecer a nuestros comensales una aventura culinaria distintiva, basada en la frescura de los ingredientes y la maestría en la preparación.</p>
      <p style="color: white;">Consideramos cada plato una obra maestra, resultado de la dedicación y la creatividad de nuestro equipo. Nos esforzamos por superar las expectativas, combinando tradición con toques innovadores para asegurar que cada bocado sea memorable.
      </p>
      <p style="color: white;">Agradecemos su confianza y le invitamos a descubrir el sabor de la verdadera pasión en FramaFood. Su viaje gastronómico comienza aquí.</p>
    </div>
  </div>
</main>