<header class="navbar">
  <div class="container">
    <div class="logo">
    <nav class="nav-links">
      <ul>
        <li ><a (click)="irMenu()" style="color: white;font-size: 25px;">FramaFood</a></li>
      </ul>
    </nav>      
    </div>
    <nav class="nav-links">
      <ul>
        <li><a (click)="irASobreNosotros()">Sobre nosotros</a></li>
        <li><a (click)="irContactos()">Contactos</a></li>
        <li></li>
        <li><a href="#"><i class="fas fa-user"></i></a></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>

<main class="hero-section">
  <div class="hero-content">
    <div class="welcome-box">
      <h2 style="color: white;">Sobre Nosotros</h2>
      <p style="color: white;">FramaFood nació de una visión: elevar la comida a la categoría de arte comestible. Desde el primer día, nos hemos comprometido a ofrecer a nuestros comensales una aventura culinaria distintiva, basada en la frescura de los ingredientes y la maestría en la preparación.</p>
      <p style="color: white;">Consideramos cada plato una obra maestra, resultado de la dedicación y la creatividad de nuestro equipo. Nos esforzamos por superar las expectativas, combinando tradición con toques innovadores para asegurar que cada bocado sea memorable.
      </p>
      <p style="color: white;">Agradecemos su confianza y le invitamos a descubrir el sabor de la verdadera pasión en FramaFood. Su viaje gastronómico comienza aquí.</p>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <p>Lun - Vie 11am - 10pm</p>
      <p>Sab - Dom 11am - 9pm</p>
    </div>
    <div class="footer-center">
      <p>Residencial Claridel</p>
      <p>Autopista san isidro #3</p>
    </div>
    <div class="footer-right">
      <p>Siguenos</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2025 por FramaFood.</p>
  </div>
</footer>
