<header class="navbar">
  <div class="container">
    <div class="logo">
      <nav class="nav-links">
        <ul>
          <li><a (click)="irMenu()" style="color: white;font-size: 25px;">FramaFood</a></li>
        </ul>
      </nav>
    </div>
    <nav class="nav-links">
      <ul>
        <li><a (click)="irASobreNosotros()">Sobre nosotros</a></li>
        <li><a (click)="irContactos()">Contactos</a></li>
        <li></li>
        <li><a href="#"><i class="fas fa-user"></i></a></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>

<main class="hero-section">
  <div class="hero-content">
    <div class="welcome-box">
      <h3 style="color: white;">Hablemos</h3>
      <p style="color: white;">En FramaFood, valoramos tu opinión y estamos listos para atenderte. Ya sea para una
        reserva, un evento especial o cualquier consulta, no dudes en comunicarte con nosotros.</p>
      <h3 style="color: white;">Llámanos:</h3>
      <p style="color: white;">
        Nuestro equipo está disponible en el (809) 555-1234 durante nuestro horario de operación.
      </p>
      <h3 style="color: white;">Envíanos un Correo:</h3>
      <p style="color: white;">
        Para consultas generales o solicitudes, escríbenos a xxxxxxxxxxxxxxxx. Nos esforzaremos por responderte a la
        brevedad.
      </p>
      <h3 style="color: white;">Visítanos:</h3>
      <p style="color: white;">
        Residencial Claridel, Autopista San Isidro #3, Santo Domingo, D.N.
         <a href="https://maps.app.goo.gl/fHbnxY7QqyN1dSbi6" target="_blank" rel="noopener noreferrer" style="color: blue;">Ver en Google Maps</a>
      </p>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <p>Lun - Vie 11am - 10pm</p>
      <p>Sab - Dom 11am - 9pm</p>
    </div>
    <div class="footer-center">
      <p>Residencial Claridel</p>
      <p>Autopista san isidro #3</p>
    </div>
    <div class="footer-right">
      <p>Siguenos</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2025 por FramaFood.</p>
  </div>
</footer>
