<main class="hero-section">
  <div class="hero-content">
    <div class="welcome-box">
      <h3 style="color: white;">Hablemos</h3>
      <p style="color: white;">En FramaFood, valoramos tu opinión y estamos listos para atenderte. Ya sea para una
        reserva, un evento especial o cualquier consulta, no dudes en comunicarte con nosotros.</p>
      <h3 style="color: white;">Llámanos:</h3>
      <p style="color: white;">
        Nuestro equipo está disponible en el (809) 555-1234 durante nuestro horario de operación.
      </p>
      <h3 style="color: white;">Envíanos un Correo:</h3>
      <p style="color: white;">
        Para consultas generales o solicitudes, escríbenos a xxxxxxxxxxxxxxxx. Nos esforzaremos por responderte a la
        brevedad.
      </p>
      <h3 style="color: white;">Visítanos:</h3>
      <p style="color: white;">
        Residencial Claridel, Autopista San Isidro #3, Santo Domingo, D.N.
         <a href="https://maps.app.goo.gl/fHbnxY7QqyN1dSbi6" target="_blank" rel="noopener noreferrer" style="color: blue;">Ver en Google Maps</a>
      </p>
    </div>
  </div>
</main>